@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Roboto+Condensed:wght@700&display=swap');

.title {
    margin-left: -70px;
    margin-bottom: 12%;
    width: 40%;
    font-size: 78px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    color: #150035;
}