
.navbar {
    background-color: #FFB000; 
} 

/* .nav-brand {
    padding: 20px;
} */

.btn-cadastrar  {
    background-color: #150035;
    color: #fff;
    font-weight: 500;
    margin-left: 70% ;
    width: 120px;
    height: 40px;
    border-radius: 20px;
}

.btn-cadastrar:hover,
.btn-cadastrar:focus,
.btn-cadastrar:not(:disabled):not(.disabled):active {
    color: #000000;
    font-weight: 500;
    border-radius: 5px;
    border: 3px solid #000000;
    border-radius: 50px;
    background-color: transparent;
}

.logo {
  width: 250px;
  margin-left: 20%; 
}
